<div class="notificaton-bar">
  <div class="notice">
    <a href="#" id="loginButton">Login</a>
        <div id="loginForm">
          <div class="login-form-controls">
          <div class="login-form-labels">
            <label for="loginUsername">Username</label>
            <!-- <a tabindex="100" href="#">Forgot Username?</a> -->
          </div>
          <div class="login-form-inputs">
            <input id="loginUsername" type="text" />
          </div>
          </div>
          <div class="login-form-controls">
          <div class="login-form-labels">
            <label for="loginPassword">Password</label>
            <!-- <a tabindex="100" href="#">Forgot Password?</a> -->
          </div>
          <div class="login-form-inputs">
            <input id="loginPassword" type="password" />
          </div>
          </div>
          <div>
            <div class="login-form-info">
              <span>
                Don't have an account?
              </span>
              <br />
              <span>
                <a href="<%= new_user_path %>" tabindex="100">Click here</a> to register
              </span>
            </div>
            <div class="login-form-submit">
              <input value="Log In" type="submit" />
            </div>
          </div>
        </div>    
    </div>
</div>