
<ul>
	<% children.each do |child| %>
		<li class="translation">
			<span class = "font_content"> <%= child.content %> </span><%= link_to "improve it", phrase_path(@phrase, parent: child.id), :class => "improve_font" %>
			<% if has_children?(child) %>
				<%= render "children", children: show_children(child) %>
			<% end %>
		</li>
	<% end %>
</ul>