// Place all the styles related to the Phrases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trans_red {
	background-color: red;
}

.trans_yellow {
	background-color: yellow;
}

.ph_green{
	background-color: green;
}